<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zyupload上传实例</title>
    <link rel="stylesheet" href="/backstage/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/backstage/layui/lib/jq-module/zyupload/zyupload-1.0.0.min.css" media="all">
    <link rel="stylesheet" href="/backstage/layui/css/public.css" media="all">
    <script>
        function importExcel(url, fn) {
            var importForm =$("#importForm")[0];
            jp.loading('  正在导入，请稍等...');
            jp.uploadFile(importForm, url,function (data) {
                fn(data);
            })
        }
    </script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form id="importForm" action="${url}" method="post" enctype="multipart/form-data"
              style="padding-left:20px;text-align:center;" onsubmit="loading('正在导入，请稍等...');">
            <input id="uploadFile" name="file" type="file" class="form-control" style="width:300px"/>
            <br/>
            导入文件不能超过5M，仅允许导入“xls”或“xlsx”格式文件！　　

        </form>
    </div>
</div>
</body>
</html>