<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html"
      xmlns:hidden="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>菜单表单</title>
    <link rel="stylesheet" href="/backstage/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/backstage/layui/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layui-form-pane" id="departmentForm">

        </form>
    </div>
</div>

<script src="/backstage/layui/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/backstage/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/backstage/layui/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script type="application/javascript">

</script>
</body>
</html>