<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.mapper.system.MenuMapper">
    <sql id="menuColumns">
        id AS "id",
        title AS "title",
        icon AS "icon",
        href AS "href",
        target AS "target",
        has_children AS "hasChildren",
        sort AS "sort",
        parent AS "parent.id",
        parent_ids AS "parentIds",
        show_flag AS "showFlag",
        type AS "type",
        permission AS "permission",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <!--<if test="name != null and name != ''">
                and a.name = #{name}
            </if>-->
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.sort DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.sort DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO system_menu(
            id,
            title,
            icon,
            href,
            target,
            has_children,
            sort,
            parent,
            parent_ids,
            show_flag,
            type,
            permission,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES (
            #{id},
            #{title},
            #{icon},
            #{href},
            #{target},
            #{hasChildren},
            #{sort},
            #{parent.id},
            #{parentIds},
            #{showFlag},
            #{type},
            #{permission},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE system_menu SET
            title = #{title},
            icon = #{icon},
            href = #{href},
            target = #{target},
            has_children = #{hasChildren},
            sort = #{sort},
            parent = #{parent.id},
            parent_ids = #{parent_ids},
            show_flag = #{show_flag},
            type = #{type},
            permission = #{permission},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_menu SET del_flag = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE system_menu SET del_flag = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_menu
        WHERE id=#{id}
    </delete>
</mapper>