<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.system.mapper.OperatorMapper">
    <sql id="operatorColumns">
        id AS "id",
        name AS "name",
        login_name AS "loginName",
        password AS "password",
        salt AS "salt",
        picture AS "picture",
        department AS "department.id",
        work_number AS "workNumber",
        login_flag AS "loginFlag",
        login_ip AS "loginIp",
        login_address AS "loginAddress",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        is_delete AS "isDelete",
        remarks AS "remarks"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.system.entity.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE id=#{id}
    </select>

    <select id="selectByNameAndPassword" resultType="com.littlebuddha.backstage.modules.system.entity.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE name=#{name} AND password=#{password}
    </select>

    <select id="findByName" resultType="com.littlebuddha.backstage.modules.system.entity.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE name=#{name}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.system.entity.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.is_delete = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="name != null and name != ''">
                and a.name = #{name}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.system.entity.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO system_operator(
            id,
            name,
            login_name,
            password,
            salt,
            picture,
            department,
            work_number,
            login_flag,
            login_ip,
            login_address,
            create_by,
            create_date,
            update_by,
            update_date,
            is_delete,
            remarks
        )VALUES (
            #{id},
            #{name},
            #{loginName},
            #{password},
            #{salt},
            #{picture},
            #{department.id},
            #{workNumber},
            #{loginFlag},
            #{loginIp},
            #{loginAddress},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{isDelete},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE system_operator SET
            name = #{name},
            login_name = #{loginName},
            password = #{password},
            salt = #{salt},
            picture = #{picture},
            department = #{department.id},
            work_number = #{workNumber},
            login_flag = #{loginFlag},
            login_ip = #{loginIp},
            login_address = #{loginAddress},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            is_delete = #{isDelete},
            remarks = #{remarks}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_operator SET is_delete = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE system_operator SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_operator
        WHERE id=#{id}
    </delete>
</mapper>