<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.mapper.manager.BalanceDetailsMapper">

    <sql id="balanceDetailsColumns">
        a.id AS "id",
        a.serial_number AS "serialNumber",
        a.testing AS "testing",
        a.texy AS "texy",
        a.blue_island_materiel_number AS "blueIslandMaterielNumber",
        a.chinese_name AS "chineseName",
        a.supplier AS "supplier",
        a.m_four_host AS "mFourHost",
        a.m_four_go_host AS "mFourGoHost",
        a.m_four_front_housing_assembly AS "mFourFrontHousingAssembly",
        a.m_four_rear_housing_assembly AS "mFourRearHousingAssembly",
        a.m_four_package AS "mFourPackage",
        a.m_four_orange AS "mFourOrange",
        a.m_four_sfr AS "mFourSFR",
        a.m_four_byt AS "mFourBYT",
        a.m_four_go_package AS "mFourGoPackage",
        a.m_four_front_housing_assembly_second AS "mFourFrontHousingAssemblySecond",
        a.m_four_main_board_package AS "mFourMainBoardPackage",
        a.m_four_go_main_board_package AS "mFourGoMainBoardPackage",
        a.small_board_packaging AS "smallBoardPackaging",
        a.battery_packaging AS "batteryPackaging",
        a.into_operation AS "intoOperation",
        a.not_into_operation AS "notIntoOperation",
        a.lack_of_material AS "lackOfMaterial",
        a.lack_of_material_group AS "lackOfMaterialGroup",
        a.new_jersey AS "newJersey",
        a.blue_island AS "blueIsland",
        a.difference AS "difference",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.entity.manager.BalanceDetails">
        SELECT
        <include refid="balanceDetailsColumns"/>
        FROM manager_balance_details a
        WHERE a.id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.entity.manager.BalanceDetails">
        SELECT
        <include refid="balanceDetailsColumns"/>
        FROM manager_balance_details a
        <choose>
            <when test="page !=null and page != '' and limit !=null and limit != ''">
                LIMIT #{page},#{limit}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.entity.manager.BalanceDetails">
        SELECT
        <include refid="balanceDetailsColumns"/>
        FROM manager_balance_details a
    </select>

    <insert id="insert">
        INSERT INTO manager_balance_details(
            id,
            serial_number,
            testing,
            texy,
            blue_island_materiel_number,
            chinese_name,
            supplier,
            m_four_host,
            m_four_go_host,
            m_four_front_housing_assembly,
            m_four_rear_housing_assembly,
            m_four_package,
            m_four_orange,
            m_four_sfr,
            m_four_byt,
            m_four_go_package,
            m_four_front_housing_assembly_second,
            m_four_main_board_package,
            m_four_go_main_board_package,
            small_board_packaging,
            battery_packaging,
            into_operation,
            not_into_operation,
            lack_of_material,
            lack_of_material_group,
            new_jersey,
            blue_island,
            difference,
            remarks,
            remarks,
            create_by,
            create_date,
            update_by,
            update_date
        )VALUES (
            #{id},
            #{serialNumber},
            #{testing},
            #{texy},
            #{blueIslandMaterielNumber},
            #{chineseName},
            #{supplier},
            #{mFourHost},
            #{mFourGoHost},
            #{mFourFrontHousingAssembly},
            #{mFourRearHousingAssembly},
            #{mFourPackage},
            #{mFourOrange},
            #{mFourSFR},
            #{mFourBYT},
            #{mFourGoPackage},
            #{mFourFrontHousingAssemblySecond},
            #{mFourMainBoardPackage},
            #{mFourGoMainBoardPackage},
            #{smallBoardPackaging},
            #{batteryPackaging},
            #{intoOperation},
            #{notIntoOperation},
            #{lackOfMaterial},
            #{lackOfMaterialGroup},
            #{newJersey},
            #{blueIsland},
            #{difference},
            #{remarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE manager_balance_details SET
            serialNumber = #{serialNumber},
            testing = #{testing},
            texy = #{texy},
            blue_island_materiel_number = #{blueIslandMaterielNumber},
            chinese_name = #{chineseName},
            supplier = #{supplier},
            m_four_host = #{mFourHost},
            m_four_go_host = #{mFourGoHost},
            m_four_front_housing_assembly = #{mFourFrontHousingAssembly},
            m_four_rear_housing_assembly = #{mFourRearHousingAssembly},
            m_four_package = #{mFourPackage},
            m_four_orange = #{mFourOrange},
            m_four_sfr = #{mFourSFR},
            m_four_byt = #{mFourBYT},
            m_four_go_package = #{mFourGoPackage},
            m_four_front_housing_assembly_second = #{mFourFrontHousingAssemblySecond},
            m_four_main_board_package = #{mFourMainBoardPackage},
            m_four_go_main_board_package = #{mFourGoMainBoardPackage},
            small_board_packaging = #{smallBoardPackaging},
            battery_packaging = #{batteryPackaging},
            into_operation = #{intoOperation},
            not_into_operation = #{notIntoOperation},
            lack_of_material = #{lackOfMaterial},
            lack_of_material_group = #{lackOfMaterialGroup},
            new_jersey = #{newJersey},
            blue_island = #{blueIsland},
            difference = #{difference},
            remarks = #{remarks},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE manager_balance_details SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM manager_balance_details
        WHERE id=#{id}
    </delete>
</mapper>