<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.mapper.manager.DeliveryPlanMapper">

    <sql id="deliveryPlanColumns">
        a.id AS "id",
        a.delivery_date AS "deliveryDate",
        a.delivery_amount AS "deliveryAmount",
        a.cumulative_delivery_amount AS "cumulativeDeliveryAmount",
        a.in_coming_materiel_date AS "inComingMaterielDate",
        a.gift_box_amount AS "giftBoxAmount",
        a.cumulative_gift_box_amount AS "cumulativeGiftBoxAmount",
        a.carton_amount AS "cartonAmount",
        a.paper_separator_amount AS "paperSeparatorAmount",
        a.cumulative_paper_separator_amount AS "cumulativePaperSeparatorAmount",
        a.delivery_type AS "deliveryType",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.entity.manager.DeliveryPlan">
        SELECT
        <include refid="deliveryPlanColumns"/>
        FROM manager_delivery_plan a
        WHERE a.id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.entity.manager.DeliveryPlan">
        SELECT
        <include refid="deliveryPlanColumns"/>
        FROM manager_delivery_plan a
        <where>
            <if test="deliveryDate != null and deliveryDate != ''" >
                and a.delivery_date = #{deliveryDate}
            </if>
            <if test="deliveryAmount != null and deliveryAmount != ''" >
                and a.delivery_amount = #{deliveryAmount}
            </if>
            <if test="cumulativeDeliveryAmount != null and cumulativeDeliveryAmount != ''" >
                and a.cumulative_delivery_amount = #{cumulativeDeliveryAmount}
            </if>
            <if test="inComingMaterielDate != null and inComingMaterielDate != ''" >
                and a.in_coming_materiel_date = #{inComingMaterielDate}
            </if>
            <if test="giftBoxAmount != null and giftBoxAmount != ''" >
                and a.gift_box_amount = #{giftBoxAmount}
            </if>
            <if test="cumulativeGiftBoxAmount != null and cumulativeGiftBoxAmount != ''" >
                and a.cumulative_gift_box_amount = #{cumulativeGiftBoxAmount}
            </if>
            <if test="cartonAmount != null and cartonAmount != ''" >
                and a.carton_amount = #{cartonAmount}
            </if>
            <if test="paperSeparatorAmount != null and paperSeparatorAmount != ''" >
                and a.paper_separator_amount = #{paperSeparatorAmount}
            </if>
            <if test="cumulativePaperSeparatorAmount != null and cumulativePaperSeparatorAmount != ''" >
                and a.cumulative_paper_separator_amount = #{cumulativePaperSeparatorAmount}
            </if>
            <if test="deliveryType != null and deliveryType != ''" >
                and a.delivery_type = #{deliveryType}
            </if>
        </where>
        <choose>
            <when test="page !=null and page != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.entity.manager.DeliveryPlan">
        SELECT
        <include refid="deliveryPlanColumns"/>
        FROM manager_delivery_plan a
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT
        Count(1)
        FROM manager_delivery_plan a
    </select>

    <insert id="insert">
        INSERT INTO manager_delivery_plan(
            id,
            delivery_date,
            delivery_amount,
            cumulative_delivery_amount,
            in_coming_materiel_date,
            gift_box_amount,
            cumulative_gift_box_amount,
            carton_amount,
            paper_separator_amount,
            cumulative_paper_separator_amount,
            delivery_type,
            create_by,
            create_date,
            update_by,
            update_date
        )VALUES (
            #{id},
            #{deliveryDate},
            #{deliveryAmount},
            #{cumulativeDeliveryAmount},
            #{inComingMaterielDate},
            #{giftBoxAmount},
            #{cumulativeGiftBoxAmount},
            #{cartonAmount},
            #{paperSeparatorAmount},
            #{cumulativePaperSeparatorAmount},
            #{deliveryType},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE manager_delivery_plan SET
            delivery_date = #{deliveryDate},
            delivery_amount = #{deliveryAmount},
            cumulative_delivery_amount = #{cumulativeDeliveryAmount},
            in_coming_materiel_date = #{inComingMaterielDate},
            gift_box_amount = #{giftBoxAmount},
            cumulative_gift_box_amount = #{cumulativeGiftBoxAmount},
            carton_amount = #{cartonAmount},
            paper_separator_amount = #{paperSeparatorAmount},
            cumulative_paper_separator_amount = #{cumulativePaperSeparatorAmount},
            delivery_type = #{deliveryType},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE manager_delivery_plan SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM manager_delivery_plan
        WHERE id=#{id}
    </delete>
</mapper>