<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.manager.mapper.MaterielReturnFromManufacturerMapper">

    <sql id="materielReturnFromManufacturerColumns">
        a.id AS "id",
        a.serial_number AS "serialNumber",
        a.return_date AS "returnDate",
        a.blue_island_materiel_number AS "blueIslandMaterielNumber",
        a.return_manufacturer AS "returnManufacturer",
        a.supplier_materiel_number AS "supplierMaterielNumber",
        a.materiel_name AS "materielName",
        a.description AS "description",
        a.return_amount AS "returnAmount",
        a.return_order_number AS "returnOrderNumber",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.manager.entity.MaterielReturnFromManufacturer">
        SELECT
        <include refid="materielReturnFromManufacturerColumns"/>
        FROM manager_materiel_return_from_manufacturer a
        WHERE a.id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.manager.entity.MaterielReturnFromManufacturer">
        SELECT
        <include refid="materielReturnFromManufacturerColumns"/>
        FROM manager_materiel_return_from_manufacturer a
        <choose>
            <when test="page !=null and page != '' and limit !=null and limit != ''">
                LIMIT #{page},#{limit}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.manager.entity.MaterielReturnFromManufacturer">
        SELECT
        <include refid="materielReturnFromManufacturerColumns"/>
        FROM manager_materiel_return_from_manufacturer a
    </select>

    <insert id="insert">
        INSERT INTO manager_materiel_return_from_manufacturer(
            id,
            serial_number,
            return_date,
            blue_island_materiel_number,
            return_manufacturer,
            supplier_materiel_number,
            materiel_name,
            description,
            return_amount,
            return_order_number,
            remarks,
            create_by,
            create_date,
            update_by,
            update_date
        )VALUES (
            #{id},
            #{serialNumber},
            #{returnDate},
            #{blueIslandMaterielNumber},
            #{returnManufacturer},
            #{supplierMaterielNumber},
            #{materielName},
            #{description},
            #{returnAmount},
            #{returnOrderNumber},
            #{remarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE manager_materiel_return_from_manufacturer SET
            serial_number = #{serialNumber},
            return_date = #{returnDate},
            blue_island_materiel_number = #{blueIslandMaterielNumber},
            return_manufacturer = #{returnManufacturer},
            supplier_materiel_number = #{supplierMaterielNumber},
            materiel_name = #{materielName},
            description = #{description},
            return_amount = #{returnAmount},
            return_order_number = #{returnOrderNumber},
            remarks = #{remarks},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE manager_materiel_return_from_manufacturer SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM manager_materiel_return_from_manufacturer
        WHERE id=#{id}
    </delete>
</mapper>