<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.mapper.manager.OrderMapper">

    <sql id="orderColumns">
        a.id AS "id",
        a.new_order_number AS "newOrderNumber",
        a.order_number AS "orderNumber",
        a.supplier AS "supplier",
        a.project_name AS "projectName",
        a.materiel_number AS "materielNumber",
        a.materiel_number_sort AS "materielNumberSort",
        a.materiel_name AS "materielName",
        a.specifications AS "specifications",
        a.description AS "description",
        a.brand AS "brand",
        a.unit AS "unit",
        a.order_amount AS "orderAmount",
        a.unit_price AS "unitPrice",
        a.currency AS "currency",
        a.total_amount AS "totalAmount",
        a.order_date AS "orderDate",
        a.delivery_date AS "deliveryDate",
        a.delivered_amount AS "deliveredAmount",
        a.in_warehousing_date AS "inWarehousingDate",
        a.undelivered_amount AS "undeliveredAmount",
        a.first_party_remarks AS "firstPartyRemarks",
        a.reconciled_amount AS "reconciledAmount",
        a.no_reconciliation AS "noReconciliation",
        a.payment_status AS "paymentStatus",
        a.payment_way AS "paymentWay",
        a.the_corresponding_human AS "theCorrespondingHuman.name",
        a.second_party_remarks AS "secondPartyRemarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.entity.manager.Order">
        SELECT
        <include refid="orderColumns"/>
        FROM manager_order a
        WHERE a.id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.entity.manager.Order">
        SELECT
        <include refid="orderColumns"/>
        FROM manager_order a
        <choose>
            <when test="page !=null and page != '' and limit !=null and limit != ''">
                LIMIT #{page},#{limit}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.entity.manager.Order">
        SELECT
        <include refid="orderColumns"/>
        FROM manager_order a
    </select>

    <insert id="insert">
        INSERT INTO manager_order(
            id,
            new_order_number,
            order_number,
            supplier,
            project_name,
            materiel_number,
            materiel_number_sort,
            materiel_name,
            specifications,
            description,
            brand,
            unit,
            order_amount,
            unit_price,
            currency,
            total_amount,
            order_date,
            delivery_date,
            delivered_amount,
            in_warehousing_date,
            undelivered_amount,
            first_party_remarks,
            reconciled_amount,
            no_reconciliation,
            payment_status,
            payment_way,
            the_corresponding_human,
            second_party_remarks,
            create_by,
            create_date,
            update_by,
            update_date
        )VALUES (
            #{id},
            #{newOrderNumber},
            #{orderNumber},
            #{supplier},
            #{projectName},
            #{materielNumber},
            #{materielNumberSort},
            #{materielName},
            #{specifications},
            #{description},
            #{brand},
            #{unit},
            #{orderAmount},
            #{unitPrice},
            #{currency},
            #{totalAmount},
            #{orderDate},
            #{deliveryDate},
            #{deliveredAmount},
            #{inWarehousingDate},
            #{undeliveredAmount},
            #{firstPartyRemarks},
            #{reconciledAmount},
            #{noReconciliation},
            #{paymentStatus},
            #{paymentWay},
            #{theCorrespondingHuman},
            #{secondPartyRemarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE manager_order SET
            new_order_number = #{newOrderNumber},
            order_number = #{orderNumber},
            supplier = #{supplier},
            project_name = #{projectName},
            materiel_number = #{materielNumber},
            materiel_number_sort = #{materielNumberSort},
            materiel_name = #{materielName},
            specifications = #{specifications},
            description = #{description},
            brand = #{brand},
            unit = #{unit},
            order_amount = #{orderAmount},
            unit_price = #{unitPrice},
            currency = #{currency},
            total_amount = #{totalAmount},
            order_date = #{orderDate},
            delivery_date = #{deliveryDate},
            delivered_amount = #{deliveredAmount},
            in_warehousing_date = #{inWarehousingDate},
            undelivered_amount = #{undeliveredAmount},
            first_party_remarks = #{firstPartyRemarks},
            reconciled_amount = #{reconciledAmount},
            no_reconciliation = #{noReconciliation},
            payment_status = #{paymentStatus},
            payment_way = #{paymentWay},
            the_corresponding_human = #{theCorrespondingHuman},
            second_party_remarks = #{secondPartyRemarks},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE manager_order SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM manager_order
        WHERE id=#{id}
    </delete>
</mapper>