<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.backstage.modules.mapper.manager.OtherOutWarehouseMapper">

    <sql id="otherOutWarehouseColumns">
        a.id AS "id",
        a.serial_number AS "serialNumber",
        a.out_warehouse_date AS "outWarehouseDate",
        a.blue_island_materiel_number AS "blueIslandMaterielNumber",
        a.supplier_materiel_number AS "supplierMaterielNumber",
        a.materiel_name AS "materielName",
        a.description AS "description",
        a.out_warehouse_amount AS "outWarehouseAmount",
        a.delivery_order_number AS "deliveryOrderNumber",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <select id="get" resultType="com.littlebuddha.backstage.modules.entity.manager.OtherOutWarehouse">
        SELECT
        <include refid="otherOutWarehouseColumns"/>
        FROM manager_out_warehouse a
        WHERE a.id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.backstage.modules.entity.manager.OtherOutWarehouse">
        SELECT
        <include refid="otherOutWarehouseColumns"/>
        FROM manager_out_warehouse a
        <choose>
            <when test="page !=null and page != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.backstage.modules.entity.manager.OtherOutWarehouse">
        SELECT
        <include refid="otherOutWarehouseColumns"/>
        FROM manager_out_warehouse a
    </select>

    <insert id="insert">
        INSERT INTO manager_out_warehouse(
            id,
            serial_number,
            out_warehouse_date,
            blue_island_materiel_number,
            supplier_materiel_number,
            materiel_name,
            description,
            out_warehouse_amount,
            delivery_order_number,
            remarks,
            create_by,
            create_date,
            update_by,
            update_date
        )VALUES (
            #{id},
            #{serialNumber},
            #{outWarehouseDate},
            #{blueIslandMaterielNumber},
            #{supplierMaterielNumber},
            #{materielName},
            #{description},
            #{outWarehouseAmount},
            #{deliveryOrderNumber},
            #{remarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE manager_out_warehouse SET
            serial_number = #{serialNumber},
            out_warehouse_date = #{outWarehouseDate},
            blue_island_materiel_number = #{blueIslandMaterielNumber},
            supplier_materiel_number = #{supplierMaterielNumber},
            materiel_name = #{materielName},
            description = #{description},
            out_warehouse_amount = #{outWarehouseAmount},
            delivery_order_number = #{deliveryOrderNumber},
            remarks = #{remarks},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE manager_out_warehouse SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM manager_out_warehouse
        WHERE id=#{id}
    </delete>
</mapper>